@import "tailwindcss";

body {
  background-color: #212121;
  color: white;
  margin: 0;
}

/* Custom Scrollbar for Dark Mode */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #171717;
}

::-webkit-scrollbar-thumb {
  background-color: #3f3f3f;
  border-radius: 4px;
}